{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="container a-container" id="a-container">
            <form class="form" id="a-form" method="post" enctype="multipart/form-data"
                action="{% url 'text_receiver' %}">
                {% csrf_token %}
                <h2 class="form_title title">Text Submission</h2><span class="form__span">generate slides in a matter of
                    seconds</span><input class="form__input" type="text" name="title" placeholder="Slideshow Title"
                    required><input class="form__input" type="text" name="author" placeholder="Author" required><input
                    class="form__icon" type="file" name="myfile" required><button class="form__button button submit"
                    type="submit">Generate</button><input class="" type="submit" value="Generate">
            </form>
        </div>
        <div class="container b-container" id="b-container">
            <form class="form" id="b-form" method="post" action="{% url 'audio_receiver' %}">
                {% csrf_token %}
                <h2 class="form_title title">Audio Submission</h2><span class="form__span">generate slides in ~30% of
                    audio file playtime</span><input class="form__input" type="text" placeholder="Slideshow Title"
                    name="title" required><input class="form__input" type="text" placeholder="Author" name="author"
                    required><input class="form__input" type="text" placeholder="YouTube link to audio"
                    name="audio_link" required><input class="form__button button submit" type="submit"
                    value="Generate"><input class="" type="submit" value="Generate">
            </form>
        </div>
        <div class="switch" id="switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1">
                <h2 class="switch__title title">text to slides</h2>
                <p class="switch__description description">Slidesmart text to slides uses state-of-the-art machine
                    learning algorithms and APIs to curate customized slides using your presentation's script.
                </p><button class="switch__button button switch-btn">audio to slides</button>
            </div>
            <div class="switch__container is-hidden" id="switch-c2">
                <h2 class="switch__title title">audio to slides</h2>
                <p class="switch__description description">Slidesmart audio to slides uses machine learning algorithms
                    and APIs to deliver
                    creative and concise slides based on audio recordings for your presentation, group project, or
                    lecture.</p>
                <button class="switch__button button switch-btn">text to slides</button>
            </div>
        </div>
    </div>
    <script>
        let switchCtn = document.querySelector("#switch-cnt");
        let switchC1 = document.querySelector("#switch-c1");
        let switchC2 = document.querySelector("#switch-c2");
        let switchCircle = document.querySelectorAll(".switch__circle");
        let switchBtn = document.querySelectorAll(".switch-btn");
        let aContainer = document.querySelector("#a-container");
        let bContainer = document.querySelector("#b-container");
        let allButtons = document.querySelectorAll(".submit");

        let getButtons = (e) => e.preventDefault()

        let changeForm = (e) => {

            switchCtn.classList.add("is-gx");
            setTimeout(function () {
                switchCtn.classList.remove("is-gx");
            }, 1500)

            switchCtn.classList.toggle("is-txr");
            switchCircle[0].classList.toggle("is-txr");
            switchCircle[1].classList.toggle("is-txr");

            switchC1.classList.toggle("is-hidden");
            switchC2.classList.toggle("is-hidden");
            aContainer.classList.toggle("is-txl");
            bContainer.classList.toggle("is-txl");
            bContainer.classList.toggle("is-z200");
        }

        let mainF = (e) => {
            for (var i = 0; i < allButtons.length; i++)
                allButtons[i].addEventListener("click", getButtons);
            for (var i = 0; i < switchBtn.length; i++)
                switchBtn[i].addEventListener("click", changeForm)
        }

        window.addEventListener("load", mainF);

    </script>
</body>

</html>